.path-frontpage {
	.page-header {
		text-align: center;
	}
	.view-id-listing_content {
		margin: 0px -20px;
		.views-row {
			width: 25%;
			padding: 20px;
			float: left;
			position: relative;
			.views-field-field-categories {
				position: absolute;
				top: 30px;
				left: 30px;
				font-size: 12px;
			}
			.views-field-field-locations a {
				font-size: 10px;
				font-weight: 600;
				line-height: 1;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
	#block-views-block-taxonomy-menu-block-3-2 {
		margin: 0px -20px;
		.views-row {
			width: 25%;
			padding: 20px;
			float: left;
			position: relative;
			img {
				width: 100%;
			}
			.views-field-name {
				position: absolute;
				left: 0;
				right: 0;
				text-align: center;
				top: 40%;
				a {
					color: #fff;
					font-size: 20px;
				}
			}
		}
	}
	#block-views-block-taxonomy-menu-block-2-2 {
		margin: 0px -40px;
		.views-row {
			width: 23%;
			float: left;
			border: 1px solid #f3f2f1;
			box-sizing: border-box;
			padding: 20px;
			margin: 10px;
			position: relative;
			top: 0;
			transition: all .2s ease;
			transform: translateZ(1px);
			.views-field {
				display: block;
				text-align: center;
				padding: 0;
				margin-bottom: 10px;
				.field-content img {
					margin: auto;
				}
			}
		}
	}
	#block-views-block-features-block-1 {
		margin: 0px -20px;
		.views-row {
			width: 33%;
			float: left;
			padding: 20px;
			.views-field-field-image {
				float: left;
				margin-right: 20px;
				img {
					height: 30px;
					width: auto;
				}
			}
			.views-field-title {
				a {
					font-size: 10px;
				}
			}

		}
	}

}

