.block-region-top {
  .field--name-field-gallery {
    .field--item {
      display: none;
      &:first-child {
        display: inline-block;
      }
    }
  }
}

#block-views-block-listing-content-block-listing-title {
  margin-bottom: 30px;
}

.region-content {
  .flexslider {
    border: 0px;
    &:hover {
      .flex-direction-nav {
        opacity: 1;
        a {
          right: 0;
          left: 0;
          &.flex-prev {
            left: 90%;
          }
          &:before {
            color: #286090;
            opacity: 1;
          }
        }
      }
    }
    .flex-direction-nav {
      a {
        display: block;
        opacity: 1 !important;
        right: 0;
        left: 90%;
        bottom: 10px;
        top: inherit;
        width: 45px;
        height: 45px;
        &.flex-next {
          left: 92%;
        }
        &:before {
          color: #337ab7;
        }
      }
    }
  }
  .field--name-field-amenities {
    .field__items {
      margin: 0px -10px;
      .field--item {
        margin: 10px;
        width: 25%;
        .field--name-name {
          line-height: 0px;
          font-size: 14px;
          width: auto;
          margin: 0;
        }
        .field--name-field-icon {
          float: left;
          width: auto;
          margin: 0;
        }
      }
    }
  }
}
