// Main styles.
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  color: $text-col;
  font-size: 16px;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  @include breakpoint($screen-tablet) {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -160px;
  }
}

.footer,
.stick {
  @include breakpoint($screen-tablet) {
    height: 160px;
  }
}

.upper-wrapper {

  @include breakpoint($screen-tablet) {
    height: 100%;
  }
}

.views-field-field-icon, .field--name-field-icon {
  display: inline-block;
  padding-right: 10px;
  img {
    width: 32px;
  }
}

.views-field-name {
  display: inline;
  a {
    line-height: 16px;
  }
}


#block-views-block-listing-content-block-listing-title {
  img {
    height: 70px;
    width: auto;
    margin-right: 20px;
  }
  .views-field {
    float: left;
    &.views-field-field-address {
      float: right;
    }
  }
}

.page-node-type-listing {
  #block-views-block-listing-content-block-listing-title {
    .views-field-field-gallery {
      width: auto;
      margin: 0;
    }
  }
}

.field--name-field-amenities {
  h2 {
    font-size: 16px;
    display: inline-block;
  }
}

.field--name-body, .field--name-field-amenities, .field--name-field-address, .field--name-field-opening-hours {
  margin-bottom: 30px;
}

.region-sidebar-second {
  section {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.08);
  }
}

#block-companies {
  margin: 30px 0px;
  .field--item {
    width: 17.64706%;
    float: left;
    margin-right: 2.94118%;
    &:nth-child(5n) {
      float: right;
      margin-right: 0;
    }
    img {
      display: inline-block;
      max-height: 32px;
      width: auto;
    }
  }
}

.view-id-listing_content, .view-id-taxonomy_term {
  .views-row {
    margin-bottom: 20px;
    position: relative;
    .views-field-field-gallery {
      float: left;
      margin: 0 30px 0 0;
      width: 240px;
    }
    .views-field-title {
      a {
        color: #000;
      }
    }
    .views-field-field-locations {
      a {
        color: #ccc;
        font-size: 12px;
      }
    }
    .views-field-field-categories {
      position: absolute;
      right: 0;
      top: 0;
      a {
        font-size: 12px;
      }
    }
  }
}


#block-views-block-listing-content-block-listing-map {
  height: 230px;
  margin: 0 -1200px;
  padding: 0 1200px;
  position: relative;
  .views-row {
    margin: 0;
  }
  .geolocation-google-map {
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100vw !important;
  }
}

.breadcrumb {
  margin: 20px 0px;
}

#block-views-block-article-block-1, .view-id-article {
  .views-field-field-image {
    float: left;
    margin-right: 20px;
  }
  h2 span {
    font-size: 18px;
  }
}

.footer {
  padding: 0;
  font-size: 13px;
  color: #fff;
  a {
    color: #fff;
  }
  section {
    width: 31%;
    float: left;
    .block-title {
      margin-top: 10px;
    }
    .views-row {
      width: 48%;
      float: left;
      margin-right: 2%;
      &:before {
        -webkit-font-smoothing: antialiased;
        color: #3CC47E;
        content: '\f054';
        font-family: 'FontAwesome';
        font-size: 8px;
        margin: 0 10px 0 0;
        transition: all .2s ease;
        vertical-align: 1px;
      }
      &:nth-child(2n) {
        float: right;
      }
    }
    .views-field-field-icon {
      display: none;
    }
    &:nth-child(3) {
      float: right;
    }
    &:nth-child(2) {
      float: none;
      display: inline-block;
      padding: 0px 4%;
    }
  }
}
