// Full width navigation bar.
.sdk-full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

// Styles to navigation menu bar.
#navbar {
  @extend .sdk-full-width;
  height: 129px;
  background: transparent;
  border: none;
  box-shadow: none;

  @include breakpoint($screen-tablet) {
    height: 80px;
    background-color: $header-bg-desktop;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }

  .container {
    width: auto;

    @include breakpoint($screen-tablet) {
      width: 750px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    @include breakpoint($screen-desktop) {
      width: 970px;
    }

    @include breakpoint($screen-lg-desktop) {
      width: 1170px;
    }

    .navbar-header {
      position: relative;
      width: 100%;

      @include breakpoint($screen-tablet) {
        float: left;
      }

      .region-navigation {
        @include breakpoint($screen-tablet) {
          padding-top: 11px;
        }

        @include breakpoint(max-width $screen-xs-max) {
          text-align: center;
        }

        // Site-name styles.
        .navbar-brand {
          font-family: $font-family-bold;
          float: none;
          color: $brand-title;
          padding: 15px 30px;
          display: inline-block;
          line-height: $line-height-base;
          background: $brand;
          border-top-right-radius: 0;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 0;
          background-clip: padding-box;
          transition: color 0.4s ease-in-out;
          font-size: 20px;
          font-weight: bold;
          height: auto;

          @include breakpoint($screen-xs-only) {
            max-width: 205px;
          }

          @include breakpoint($screen-tablet) {
            padding: 15px 0;
            background: transparent;
            color: $brand;
            border-radius: 4px;
            margin: 0;
            margin-right: 50px;
          }
        }

        #block-foundation-bootstrap-main-menu, #block-foundation-bootstrap-account-menu, .navbar-brand {
          display: inline-block;
          float: left;
          line-height: 20px;
          font-size: 16px;
        }

        #block-foundation-bootstrap-search {
          float: right;
          #search-block-form {
            width: 200px;
            #search-block-form .form-search {
              background-color: transparent;
              border: 1px solid #e7e7e7;
              border-radius: 20px 0 0 20px;
              border-right: 0;
              box-sizing: border-box;
              color: #666;
              font-size: 13px;
              height: 40px;
              margin: 0;
              padding: 0 0 0 23px;
            }
          }
        }
      }

      .navbar-toggle {
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
        margin-top: 0;
        margin-right: 0;
        padding: 9px 10px;

        .icon-bar {
          background-color: rgba(255, 255, 255, 0.6);
          height: 3px;
          border-radius: 1px;
        }

        &:hover {
          background: none;

          .icon-bar {
            background-color: #fff;
          }
        }

        &:focus {
          background: none;
        }
      }
    }

    .navbar-collapse {
      position: absolute;
      top: 90px;
      width: 100%;
      max-height: inherit;
      border-top: none;
      box-shadow: none;
      background: $dropdown;

      @include breakpoint($screen-tablet) {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 15px;
        background-color: transparent;
        text-align: center;
      }

      @include breakpoint($screen-desktop) {
        text-align: right;
      }

      .region {
        .navbar-nav {
          padding-top: 15px;
          padding-bottom: 15px;

          @include breakpoint($screen-tablet) {
            display: inline-block;
            padding-top: 0;
            padding-bottom: 0;
          }

          > li {
            font-weight: normal;
            text-transform: uppercase;
            font-size: 13px;

            // Styles to 'Sign Up Free' button.
            &:last-child {
              a {
                text-align: center;
                border: 1px solid $link-col;
                border-radius: 4px;
                font-weight: bold;
                padding: 8px 10px;
                margin-top: 5px;
                font-size: 13px;

                @include breakpoint($screen-tablet) {
                  border: 1px solid $brand;
                  background: $brand;
                  color: $link-col;
                }

                &:hover {
                  border: 1px solid $brand;
                  background: $brand;
                  color: $link-col;
                }
              }
            }

            > a {
              transition: all 0.4s ease-in-out;
              color: $link-col;

              @include breakpoint($screen-tablet) {
                color: $link-color-desktop;
                opacity: 1;
              }

              &:hover {
                color: $brand;

                @include breakpoint($screen-desktop) {
                  color: $link-color-desktop;
                }
              }

              .active {
                color: $brand;
                font-weight: bold;
              }

              .caret {
                width: auto;
                height: auto;
                margin-left: 2px;
                vertical-align: baseline;
                border: none;

                &:before {
                  font-family: FontAwesome;
                  content: "\f107";
                }
              }
            }
          }

          .dropdown {
            @include breakpoint($screen-tablet) {
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }

              &:hover {
                .dropdown-menu {
                  display: block;
                }
              }
            }

            .dropdown-menu {
              .dropdown {
                @include breakpoint($screen-tablet) {
                  margin-right: 0;
                }
              }

              a {
                border-bottom: 1px solid $dropdown-bottom-line;
                padding: 8px 20px;
                color: $link-col;
                opacity: 1;
                text-transform: none;
              }

              @include breakpoint($screen-tablet) {
                &:before {
                  content: "";
                  display: block;
                  width: 0;
                  height: 0;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  border-bottom: 10px solid $dropdown;
                  position: absolute;
                  right: 30px;
                  top: -10px;
                }

                .sub-menu {
                  left: 100%;
                  position: absolute;
                  top: 0;
                  visibility: hidden;
                  margin-top: -1px;
                }

                li {
                  &:hover {
                    .sub-menu {
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }

          .open {
            a {
              &:hover,
              &:focus {
                background: transparent;
              }
            }
          }
        }

        .nav {
          margin: 0;
        }
      }
    }
  }
}

// Hoverable dropdown menu.
@include breakpoint($screen-tablet) {
  .nav-tabs {
    .dropdown-menu,
    .nav-pills {
      .dropdown-menu,
      .navbar {
        .dropdown-menu {
          margin-top: 0;
        }
      }
    }
  }

  .navbar {
    .sub-menu {
      &:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        top: 11px;
        left: -6px;
      }
      &:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
      }
    }
  }

  header {
    .nav {
      .dropdown-menu {
        border-radius: 4px;
        background-clip: padding-box;
        margin: 0;
        border: none;
        text-transform: none;
        min-width: 180px;
        background: $dropdown;

        a {
          color: $link-col;

          &:hover {
            background-color: $dropdown-hover-bg;
          }
        }
      }
    }
  }
}

// For 'Log In' , 'Sign Up' and 'Reset Password' pages.
#navbar-title {
  background: none;
  border: none;

  .navbar-header-only {
    .region-navigation {
      text-align: center;

      .logo {
        display: none;
      }

      .navbar-brand {
        font-family: $font-family-bold;
        float: none;
        color: $brand-title;
        padding: 15px 30px;
        display: inline-block;
        line-height: $line-height-base;
        background: $brand;
        border-top-right-radius: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 0;
        background-clip: padding-box;
        transition: color 0.4s ease-in-out;
        font-size: 20px;
        font-weight: bold;
        height: auto;
      }
    }
  }
}

#views-exposed-form-listing-content-listings {
  .form-item {
    width: 45%;
    margin-bottom: 20px;
    float: right;
    #edit-title {
      width: 100%;
    }
    &:nth-child(odd){
      float: left;
    }
  }
  #edit-actions, #edit-actions--2 {
    float: right;
    margin-bottom: 20px;
    button {
      margin-left: 20px;
    }
  }
}
